In [1]:
import requests
import pandas as pd
import plotly.graph_objects as go
import numpy as np

In [56]:
market = pd.read_csv('market2021.csv', sep=';', index_col=False)
market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 33 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Question                         58 non-null     object
 1   Albania                          42 non-null     float64
 2   Austria                          55 non-null     float64
 3   Belgium                          52 non-null     float64
 4   Bulgaria                         43 non-null     float64
 5   Croatia                          53 non-null     float64
 6   Cyprus                           54 non-null     float64
 7   Denmark                          42 non-null     float64
 8   Estonia                          51 non-null     float64
 9   Finland                          49 non-null     float64
 10  France                           53 non-null     float64
 11  Germany                          56 non-null     float64
 12  Greece                           51 non-null     float64
 13  Hungary                          49 non-null     float64
 14  Ireland                          43 non-null     float64
 15  Italy                            54 non-null     float64
 16  Latvia                           52 non-null     float64
 17  Lithuania                        47 non-null     float64
 18  Luxembourg                       44 non-null     float64
 19  Malta                            40 non-null     float64
 20  Montenegro                       52 non-null     float64
 21  Poland                           48 non-null     float64
 22  Portugal                         48 non-null     float64
 23  Romania                          44 non-null     float64
 24  Serbia                           48 non-null     object
 25  Slovakia                         51 non-null     float64
 26  Slovenia                         49 non-null     float64
 27  Spain                            51 non-null     float64
 28  Sweden                           46 non-null     float64
 29  The Czech Republic               49 non-null     float64
 30  The Netherlands                  48 non-null     float64
 31  The Republic of North Macedonia  48 non-null     float64
 32  Turkey                           45 non-null     float64
dtypes: float64(31), object(2)
memory usage: 15.1+ KB

In [57]:
rwb = pd.read_csv('rwb2022.csv', sep=';')
rwb.head()

,ISO,Score,Rank,Political Context,Rank_Pol,Economic Context,Rank_Eco,Legal Context,Rank_Leg,Social Context,...,Rank_Saf,Zone,Country_EN,Country_FR,Country_ES,Country_AR,Country_FA,Year (N),Rank N-1,Rank evolution
0,NOR,"92,65",1,"94,89",1,"90,38",1,"92,23",1,"93,71",...,11,Europe - Asie centrale,Norway,Norvège,Noruega,النرويج,نروژ,2022,1,0
1,DNK,"90,27",2,"94,34",2,"83,67",3,"89,18",4,"91,17",...,7,Europe - Asie centrale,Denmark,Danemark,Dinamarca,الدنمارك,دانمارک,2022,4,2
2,SWE,"88,84",3,"91,96",3,"87,66",2,"90,27",3,"90,18",...,32,Europe - Asie centrale,Sweden,Suède,Suecia,السويد,سوئد,2022,3,0
3,EST,"88,83",4,"91,11",5,"81,97",6,"87,87",5,90,...,6,Europe - Asie centrale,Estonia,Estonie,Estonia,إستونيا,استونی,2022,15,11
4,FIN,"88,42",5,"90,4",6,"82,03",5,"86,64",9,"90,77",...,10,Europe - Asie centrale,Finland,Finlande,Finlandia,فنلندا,فنلاند,2022,2,-3

In [70]:
ecountries_rwb = []
for i in rwb[rwb.Zone == 'Europe - Asie centrale'].Country_EN.items():
    ecountries_rwb.append(i[1])
ecountries_rwb

['Norway',
 'Denmark',
 'Sweden',
 'Estonia',
 'Finland',
 'Ireland',
 'Portugal',
 'Lithuania',
 'Liechtenstein',
 'Switzerland',
 'Iceland',
 'Germany',
 'Czech Republic',
 'Luxembourg',
 'Latvia',
 'Belgium',
 'United Kingdom',
 'France',
 'Slovakia',
 'Netherlands',
 'Austria',
 'Spain',
 'Moldova',
 'Croatia',
 'Armenia',
 'Andorra',
 'Slovenia',
 'Romania',
 'North Macedonia',
 'Italy',
 'Kosovo',
 'Montenegro',
 'Cyprus',
 'Poland',
 'Bosnia and Herzegovina',
 'Kyrgyzstan',
 'Malta',
 'Serbia',
 'Cyprus North',
 'Hungary',
 'Georgia',
 'Bulgaria',
 'Albania',
 'Ukraine',
 'Greece',
 'Kazakhstan',
 'Uzbekistan',
 'Turkey',
 'Tajikistan',
 'Belarus',
 'Azerbaijan',
 'Russian Federation',
 'Turkmenistan']

In [71]:
a = []
b = []
for country in rwb[rwb.Zone == 'Europe - Asie centrale'].Country_EN:
    if i in market.columns:
        a.append(i)
    elif i == 'Czech Republic':
        a.append('The Czech Republic')
    elif i == 'Netherlands':
        a.append('The Netherlands')
    elif i == 'North Macedonia':
        a.append('The Republic of North Macedonia')
    else:
        b.append(i)

In [40]:
market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 33 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Question                         58 non-null     object
 1   Albania                          42 non-null     float64
 2   Austria                          55 non-null     float64
 3   Belgium                          52 non-null     float64
 4   Bulgaria                         43 non-null     float64
 5   Croatia                          53 non-null     float64
 6   Cyprus                           54 non-null     float64
 7   Denmark                          42 non-null     float64
 8   Estonia                          51 non-null     float64
 9   Finland                          49 non-null     float64
 10  France                           53 non-null     float64
 11  Germany                          56 non-null     float64
 12  Greece                           51 non-null     float64
 13  Hungary                          49 non-null     float64
 14  Ireland                          43 non-null     float64
 15  Italy                            54 non-null     float64
 16  Latvia                           52 non-null     float64
 17  Lithuania                        47 non-null     float64
 18  Luxembourg                       44 non-null     float64
 19  Malta                            40 non-null     float64
 20  Montenegro                       52 non-null     float64
 21  Poland                           48 non-null     float64
 22  Portugal                         48 non-null     float64
 23  Romania                          44 non-null     float64
 24  Serbia                           48 non-null     object
 25  Slovakia                         51 non-null     float64
 26  Slovenia                         49 non-null     float64
 27  Spain                            51 non-null     float64
 28  Sweden                           46 non-null     float64
 29  The Czech Republic               49 non-null     float64
 30  The Netherlands                  48 non-null     float64
 31  The Republic of North Macedonia  48 non-null     float64
 32  Turkey                           45 non-null     float64
dtypes: float64(31), object(2)
memory usage: 15.1+ KB